.git
.github
build
build-*
cmake-build-*
out
install
log
vcpkg_installed
compile_commands.json
__pycache__
*.py[cod]
.pytest_cache
.venv
venv
.coverage
coverage
htmlcov
.vs
.vscode
.idea
*.log
*.suo
*.user
*.swp
*.swo
*~
.DS_Store
Thumbs.db
